{% extends "base.html" %}

{% block content %}

    <h1>Blog Posts</h1>
    {% for post in posts %}
        <h4><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
        <section class="profile">
            <div class="profile-picture">
              {% if post.post_image %}
                  <img src="{{ post.post_image.url }}" alt="Post Image">
            {% endif %}
        <p>Posted by: <img src="{{ post.author.profile.profile_img.url }}" alt="Profile Image" class="small-icon"> {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
      
    {% endfor %}

{% endblock content %}
