{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>{{ user.username }}'s Profile</h1>

    <main>
        <section class="profile">
          <div class="profile-picture">
            {% if profile_user.profile_img %}
                <img src="{{ profile_user.profile_img.url }}" alt="Profile Picture">
            
            {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="Default Profile Picture">
            
            {% endif %}

          </div>
          <div class="profile-details">
            <h2 class="full-name">{{ user.username }}</h2>
            <p class="username">{{ user.email}}</p>
            <p class="username">{{ profile_user.stack}}</p>
            <p class="bio">{{ profile_user.bio }}</p>
            <a class="editprofile" href="{% url 'editprofile' %}">Edit Profile</a>
          </div>
        </section>
      </main>

{% endblock content %}
