{% extends "base.html" %}

{% block content %}
    <section class="profile">
        <div class="profile-picture">
        <h1>{{ profile.user.username }}</h1>
        <img src="{{ profile.profile_img.url }}" alt="Profile Image">
        <p>{{ profile.stack }}</p>
        <p>{{ profile.bio }}</p>
        <p><a href="{% url 'user-posts' profile.user.username %}">All Posts</a></p>
    </div>
    </section> <br><br>

    <h3 class="mb-3">Recent Posts - {{ profile.user.username }} ({{ page_obj.paginator.count }})</h3>

    {% for post in page_obj %}
        <h4><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
       
            
              {% if post.post_image %}
                  <img src="{{ post.post_image.url }}" alt="Post Image">
            {% endif %}
    <p>Posted by: <img src="{{ post.author.profile.profile_img.url }}" alt="Profile Image" class="small-icon">{{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
      
    {% endfor %}
    {% include "paginator.html" %}
    <br>
{% endblock content %}
