<footer>
    <div class="footer-container">
      <div class="footer-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="footer-social">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-info">
        <p>&copy; 2023 Marble.com. All Rights Reserved.</p>
        <p>Designed by <a href="https://github.com/davidinmichael">David Michael</a></p>
      </div>
    </div>
</footer>