{% if user.is_authenticated %}

  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/create/' %}active{% endif %}" href="{% url 'post_create' %}">Create Post</a>
      </li>

      <li class="nav-item justify-content-end">
        <a class="nav-link {% if request.path == '/logout/' %}active{% endif %}" href="{% url 'logout' %}">Logout</a>
      </li>
  </ul>
  
  <br>

{% else %}

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href="{% url 'register' %}">Sign Up</a>
    </li>

    <li class="nav-item justify-content-end">
      <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
    </li>
  </ul>

  <br>

{% endif %}